.button {
  display: block;
  background-color: purple;
  color:white;
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

button[data-size="2"] {
  display: block;
  background-color: rgb(189, 101, 189);
  color:white;
  width: 200px;
  height: 80px;
  border: 1px solid black;

}
button[data-value='clear']{
  display: block;
  background-color: rgb(231, 161, 114);
  color:white;
  width: 80px;
  height: 80px;
  border: 1px solid black;
}